.home-page-main-div-1 {
    width: 100%;
    box-shadow: 0 3px 4px 3px grey;
    height: 500px;
    background-color: #c3f53c;
    position: relative;
    z-index: 1;
    display: flex;
}

.home-page-top-about{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    background: #c3f53c;
}


.home-page-background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.home-page-video{
    display: flex;
    width: 549px;
    height: 477px;
    position: absolute;
    right: 60px;
    top: 20px;

}


.static-image-home-page {
    display: flex;
    width: 549px;
    height: 477px;
    position: absolute;
    right: 60px;
    top: 20px;
}

