.portfolio-sidebar-container {
    flex: 0 0 27.77778%;
    margin-left: 50px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

.portfolio-sidebar-stocks-container {
    display:flex;
    flex-direction: column;
    background-color: rgb(30,33,36);
    border-radius: 5px;
    border: 1px solid rgb(64,73,78);
    overflow: hidden auto;
    height: calc(100% - 300px);
    top: calc(64px + 31px);
    width: 250px;
    overflow-y: auto;
    box-sizing: border-box;
    position: fixed;

    .stocks-header {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid rgb(64,73,78);
        padding: 10px;
        padding-left: 20px;
    }

    .single-ticker-user-order {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        padding: 8px 20px;

        .single-ticker-quantity-and-name {
            display:flex;
            flex-direction: column;
            font-size: 12px;

            span {
                font-weight: bold;
            }
        }

        .price-single-order {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    .single-ticker-user-order:hover {
        cursor: pointer;
        background-color: rgba(53,55,58,1);
    }
}