// .portfolio-main-section-container {
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     width: 1100px;
//     margin-top: 50px;
// }

.portfolio-main-section-buyingpower {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    align-items: center;
    cursor: pointer;
    padding-right: 200px;
}

.portfolio-main-section-buyingpower:hover {
    background: rgb(201, 189, 189)
}

.prop-input-form {
    font-size: 15px;
    font-weight: bold;
}

.port {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    margin: 0 auto;
}

.portfolio-page-container {
    display: block;
    padding-bottom: 15vh;
    height: 100vh;
    margin-right: 500px;
    width: 700px;
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.portfolio-main-inner{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 675px;
    margin-top: 25px;
    padding-top: 15px;
    position: relative;
}

.account-header{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.portfolio-chart-container {
    height: 350px;
    width: 100%;
    margin: 0;
}

.portfolio-main-section-buyingpower {
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    width: 325px;
}

.buying-power-in {
    // font-weight: 500;
    font-size: 15px;
}

.chart-port{
    border-bottom: 1px dotted rgba(211, 211, 211, 0.603);
}

.portfolio-ticker-order-container {
    // background-color: rgb(31, 31, 31);
    position: fixed;
    height: 86vh;
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 775px;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    overflow: auto;
}

.ticker-orders-component{
    width: 100%;
    min-height: 60px;
}

.ticker-index-list{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 60px;
}

.ticker-index-title{
    margin-top: 40px;
    margin-left: 123px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 17px;
    max-height: 60px;
    
}

.ticker-index-header{
    
}

.ticker-index-list{
    display: flex;
    flex-direction: column;
}

.link-ticker-item{
    width: 100%;
    display: flex;
    padding: 10px 22px;
    justify-content: space-between;
    font-size: 14px;
}

.ticker-info {
    display: flex;
    flex-direction: column;
}