.port-page {
    background: black;
    height: fit-content;
}

.portfolio {
    color: white;
    background: black;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    padding-top: 30px;
    width: 920px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;

    .portfolio-main {
        flex: 0 0 66.66667%;
        display: flex;
        flex-direction: column;
        padding-right: 10px;

        .buying-power-top-info {
            display: flex;
            flex-direction: column;

            .buying-power-total-holdings {
                font-size: 32px;
                font-weight: 500;
            }

            .buying-power-total-change {
                margin-top: 8px;
                font-size: 12px;
                font-weight: 500;
                .today {
                    color: rgba(80,88,92,1);
                }
            }
        }

        .hideDOMRef {
            display: none;
        }

    }

    .portfolio-page-date-button {
        font-size: 11px;
        display: flex;
        flex-direction: row;

        button {
            font-weight: bold;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        button:hover {
            color: rgb(0, 180, 5);
            cursor: pointer;
        }
    }

    .background-color-grey {
        background: rgb(30,33,36);
        border-radius: 5px;
        
    }

    .buying-power-container:hover {
        cursor: pointer;
        background-color: rgba(26,26,26,1);
    }

    .buying-power-container {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid rgb(64,73,78);
        border-bottom: 1px solid rgb(64,73,78);
        width: 650px;
        font-size: 14px;
        font-weight: bold;

        .buying-power-always {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 96%;
            padding-left: 14px;
            padding-right: 14px;

            .hide-buying-power-value {
                display: none;
            }
        }

        .buying-power-hidden {
            display: none;
        }

        .buying-power-reveal {
            display: flex;
            flex-direction: row;
            border-top: 1px solid rgb(64,73,78);
            margin-top: 20px;

            .buying-power-left {
                display:flex;
                flex-direction: column;
                font-size: 14px;
                margin-right: 20px;
                width: 65%;

                .buying-power-left-inner {
                    color: white;
                }

                .inner-text-buying {
                    color: #FFC657;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    padding-bottom: 20px;

                    span {
                        padding: 20px 14px;
                    }
                }

                span {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                }

                button {
                    background: #00C805;
                    color: rgb(30,33,36);
                    width: 100%;
                    height: 50px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 15px;
                }

                button:hover {
                    background-color: rgb(8, 160, 13);
                    cursor: pointer;
                }
            }

            .buying-power-right {
                margin-right: 20px;
                font-weight: normal;
                padding-top: 20px;
            }
        }
    }
    
    .portfolio-news {
        display:flex;
        flex-direction: column;
        justify-content: column;
        border-bottom: 1px solid rgb(64,73,78);
        width: 650px;

        .portfolio-news-text {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: normal;
            font-size: 21px;
            border-bottom: 1px solid rgb(64,73,78);
        }

        .portfolio-news-container {

            .ssingle-portfolio-news-container {
                border-bottom: 1px solid rgb(64,73,78);
                display: flex;
                flex-direction: row;
                padding-top: 20px;
                padding-bottom: 20px;
                align-items: center;
                justify-content: space-between;

                .portfolio-news-about {
                    display: flex;
                    flex-direction: column;
                    width: 500px;

                    .portfolio-name-and-publishedat {
                        display: flex;
                        flex-direction: row;
                        font-size: 13px;
                        margin-bottom: 4px;

                        span {
                            font-weight: bold;
                        }

                        p {
                            font-weight: normal;
                            margin-left: 10px;
                        }
                    }

                    .single-portfolio-title {
                        font-size: 15px;
                        font-weight: bold;
                        padding-bottom: 5px;
                    }

                    .single-portfolio-description {
                        font-size: 12px;
                    }
                }

                .portfolio-news-img {
                    border-radius: 5px;
                    width: 150px;
                    height: 90px;
                    display: flex;
                    align-content: center;
                    margin-left: 5px;
                }
            }
    
            .ssingle-portfolio-news-container:hover{
                background-color: rgba(26,26,26,1);
            }
        };
    }
}


