
.ticker-page {
    background: black;
    color: white;
}

.main-ticker-page-container{
    color: white;
    background: black;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: 0 auto;
}

.ticker-chart-and-about-container {
    flex: 0 0 66.66667%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

.ticker-chart-container {
    border-bottom: 1px solid rgb(121,133,139);
    display: flex;
    flex-direction: column;
}

.chart-ticker-name {
    font-size: 32px;
}

.hideDOMRef {
    display: none;
}

.chart-ticker-mark-price {
    font-size: 32px;
} 

.chart-ticker-change-percentage {
    font-size: 13px;
    font-weight: bold;
}

.chart-ticker-change-percentage > span {
    color: rgb(121,133,139);
    font-weight: normal;
}

.linechart-container {
    margin-left: -5px;
}

.recharts-line {
    width: 99%;
}

.text-container {
    position: absolute;
    text-align: center;
    top: 355px;
}

.dotted-line-recharts {
    border-top: 0.2px dashed rgb(121,133,139);
    width: 650px;
    z-index: -2;
}

.ticker-page-date-buttons{
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.ticker-page-date-buttons > button {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ticker-page-date-buttons > button:hover {
    color: rgb(0, 180, 5);
    cursor: pointer;
}

.ticker-about-word {
    font-size: 24px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    padding: 50px 0px 16px;
    border-bottom: 1px solid black;
}

.ticker-about-container {
    display: flex;
    flex-direction: column;
}

.ticker-about-text {
    border-bottom: 0.5px solid rgba(80,88,92,1);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

.about-index {
    font-size: 13px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}

.about-index > div > span {
    font-weight: bold;
}

.ticker-keystats-container {
    display: flex;
    flex-direction: column;
}

.ticker-keystats-text {
    border-bottom: 0.5px solid rgba(80,88,92,1);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

.keystats-index {
    font-size: 13px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keystats-index > div > span {
    font-weight: bold;
}

.ticker-news-container {
    display: flex;
    flex-direction: column;
}

.ticker-news-text {
    border-bottom: 0.5px solid rgba(80,88,92,1);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

.single-news-container {
    margin-top: 20px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}

.single-news-container:hover {
    background-color: rgba(211, 211, 211, 0.151);
}

.single-news-about {
    display: flex;
    flex-direction: column;
}

.single-news-about > div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.single-news-about > div > span {
    margin-top: 10px;
    padding-right: 10px;
}

.single-news-about > div > p {
    margin-top: 10px;
    color:  rgba(80,88,92,1);
}

.single-news-about > span {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.single-news-about > p {
    margin-top: 10px;
    color:  rgba(80,88,92,1);
}

.news-img {
    padding-top: 30px;
    height: 100%;
    width: 25%;
}

.ticker-owned-position-container {
    display:flex;
    flex-direction: row;
    margin-top: 30px;

    .ticker-owned-divs {
        display:flex;
        flex-direction: column;
        border: 1px solid rgb(64,73,78);
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        margin-left: 10px;
        width: 100%;

        p {
            font-size: 12px;
        }
        .inner-font-bold {
            font-size: 17px;
            font-weight: bold;
        }

        div {
            font-size: 12px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .last-div {
            border-top: 1px solid rgb(64,73,78);
        }

    }
}

.hide {
    display: none
}