.ticker-chart-container {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    width: 1125px;
    margin: 0 auto;
    font-family: "Capsule Sans Text", sans-serif;
}

.chart-top-about {
    padding-bottom: 10px;
}

.chart-ticker-mark-price {
    font-size: 23px;
} 

.chart-ticker-change-percentage {
    font-size: 15px;
}

.linechart-container {
    margin-top: 40px;
    margin-left: -5px;
}


